{{> head}}    
{{> navbar }}
   

<div class="row">

<div class="col-8">
    <h1>Cápitan america</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem quae architecto quo voluptates accusamus aliquid sint qui. Molestias, sapiente magni odit quis sunt et cupiditate quam non. Magni, iusto.
    </p>
</div>

<div class="col-4">
    <img src="assets/img/img.png" class="img-thumbnail">
</div>

</div>


{{> footer}}